<main class="container container--full-screen wrapper wrapper--fill-height wrapper--small-padding wrapper--padding--both books-index__container">
  <div class="books-show__content books-show__content--<%= @book.color %>">
    <%= image_tag @book.icon.url, class: 'books-show__icon' if @book.icon.exists? %>
    <h1 class="books-show__title"><%= @book.title %></h1>
    <h2 class="books-show__author"><%= @book.author %></h2>
    <div class="books-show__separator"></div>
    <div class="books-show__number-of-chapters"><%= @book.number_of_chapters %></div>
  </div>
  <%= simple_form_for @reading
  <%= link_to '', book_reading_path(@book), class: 'next-step' %>
</main>
