<% if false %>
  <% unless @reading.beggined? %>
    <div class="readings-show__first container container--full-screen wrapper wrapper--fill-height wrapper--small-padding wrapper--padding--both books-index__container">
      <div class="readings-show__book-content readings-show__book-content--<%= @book.color %>">
        <%= image_tag @book.icon.url, class: 'readings-show__book-icon' if @book.icon.exists? %>
        <h1 class="readings-show__book-title"><%= @book.title %></h1>
        <h2 class="readings-show__book-author"><%= @book.author %></h2>
        <div class="readings-show__book-separator"></div>
        <div class="readings-show__book-number-of-chapters"><%= @book.number_of_chapters %></div>
      </div>
      <span class="next-step" onclick="this.parentNode.parentNode.removeChild(this.parentNode)"></span>
    </div>

    <% if @connecting %>
      <div class="readings-show__first container container--full-screen wrapper wrapper--fill-height wrapper--small-padding wrapper--padding--both books-index__container" id="reading-connection-<%= @reading.connection.id %>">
        <div class="readings-show__connection container container--full-screen">
          <%= render @reading.connection %>
        </div>
      </div>

      <script>
        setTimeout(function() {
          var connection = document.getElementById(<%= "reading-connection-#{@reading.connection.id}".to_json.html_safe %>)

          connection.style.transition = '1s'
          setTimeout(function() {
            connection.style.opacity = 0
          }, 1)

          setTimeout(function() {
            connection.parentNode.removeChild(connection)
          }, 1001)
        }, 7000)
      </script>
    <% end %>
  <% end %>
<% end %>

<%= vue :reading, chapters: @data %>
