<main class="container explanations-index__container">
  <div class="popup">
    <div class="popup__explanations">
      <div class="popup__content popup__content--current">
        Bienvenue jeune lecteur!
        <br>Je suis Lilu. Tu viens de pénétrer dans ma bibliothèque magique! Pourquoi magique me diras-tu?
      </div>
      <div class="popup__content">
        Patience, patience, ne soit-pas si pressé.
      </div>
      <div class="popup__content">
        Tout d'abord, ravi de faire ta connaissance <%= current_user.pseudo %>. Je vais désormais répondre à ta question.
      </div>
      <div class="popup__content">
        Cette bibliothèque est magique car elle te permet de lire des livres avec d’autres enfants comme toi, curieux de récits et d’aventures.
      </div>
      <div class="popup__content">
        En lisant un livre à deux, tu pourras partager avec ton camarade de lecture tes avis, mais aussi ton ressenti sur l’histoire. Vice versa, tu verras ce que ton partenaire pense et ressent du livre que vous lisez ensemble. Tu comprendras mieux quand tu seras pleinement lancé!
      </div>
      <div class="popup__content">
        Bien, tes futurs amis de lecture auront besoin d’un visage à mettre sur ton prénom. Commençons par construire ton Avatar.
        <%=  simple_form_for current_user, url: user_path(explanations: true) do |f| %>
          <%= f.hidden_field :tutorial_done, value: :on %>

          <div class="form__actions form__actions--fill">
            <%= f.button :submit, 'Terminé' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= image_tag("arrow.svg", :class => "popup__arrow") %>
  </div>
</main>

<script type="text/javascript">
  (function() {

    var next = document.querySelector('.popup__arrow')

    var parent = document.querySelector('.popup__explanations')
    var lastChild = parent.lastChild

    var toggle = function() {
      var content = document.querySelector('.popup__content--current')
      content.classList.remove('popup__content--current')

      var nextContent = content.nextElementSibling;
      var popup = document.querySelector('.popup')

      if(lastChild.classList.contains('popup__content--current')) {
        console.log('test last child');
      }

      if(nextContent) {
        nextContent.classList.add('popup__content--current');
      }
      else {
        popup.classList.add('popup--close');
        window.location.href = '/books';
      }
    };

    next.addEventListener('click',toggle);

  })();
</script>
