<%= simple_form_for user, url: user_path do |f| %>
  <%= f.input :pseudo %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form__actions form__actions--simple-fill">
    <%= f.button :submit, 'Je valide mon inscription', class: :form__action %>
    <%= button_link_to 'Déjà inscrit ? Connecte-toi', new_user_authentication_path, class: 'form__action--simple' unless user.persisted? %>
  </div>
<% end %>
