<%= simple_form_for user, class: :form do |f| %>
  <%= f.input :pseudo %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form__actions form__actions--fill">
    <%= button_link_to 'Connexion', new_user_authentication_path, class: :form__action unless user.persisted? %>
    <%= f.button :submit, 'Inscription', class: :form__action %>
  </div>
<% end %>
