<main class="wrapper wrapper--padding--both">
  <div class="books-index__top">
    <h1 class="books-index__title">Choisis ton livre</h1>
  </div>
  <div class="books-index__content">
    <ul class="books-index__list">
      <% @books.each do |book| %>
      <li class="books-index__item">
        <div class="book__symbol">
          <%= image_tag book.icon.url, class: :book__icon if book.icon.exists? %>
        </div>
        <div class="book__header">
          <h2 class="book__title"><%= book.title %></h2>
          <p class="book__author"><%= book.author %></p>
        </div>
        <p class="book__summary"><%= book.summary %> chap.</p>
        <div class="book__chapters">
          <p>
            <span class="book__chapters__nb"><%= book.number_of_chapters %></span>
            <br>chap.
          </p>
        </div>
        <div class="book__cta">
          <a href="<%= book_path(book.id)%>">Commencer</a>
          <!-- <%= link_to 'Commencer', new_user_path(), :class => "button" %> -->
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</main>

<script>
  (function() {

    var books = document.querySelectorAll('.books-index__item');

    var open = function() {
      for (j = 0; j < books.length; j++) {
          el = books[j];
          el.classList.remove('book--active');
      }
        this.classList.toggle('book--active');
    };

    for (i = 0; i < books.length; i++) {
        book = books[i];
        book.addEventListener("click", open);
    }

  })();
</script>
