<%
  avatar ||= nil
  big ||= false
  responsive ||= false

  class_name = ([:avatar] + [
    ('big' if big),
    ('responsive' if responsive),
    ('blank' if avatar.blank?)
  ].compact.map(&'avatar--'.method(:+))).join(' ')
%>

<div class="<%= class_name %>">
  <% if avatar.present? %>
    <div class="avatar__haircut avatar__haircut--<%= avatar.haircut_name %>"></div>
    <%= render "avatars/faces/#{avatar.face}.svg", avatar: avatar %>
    <div class="avatar__eyes avatar__eyes--<%= avatar.eyes_name %>"></div>
    <div class="avatar__mouth avatar__mouth--<%= avatar.mouth_name %>"></div>
    <div class="avatar__haircut-bangs avatar__haircut-bangs--<%= avatar.haircut_name %>"></div>
    <div class="avatar__accessory avatar__accessory--<%= avatar.accessory_name %>"></div>
  <% else %>
    Pas d'avatar
  <% end %>
</div>
