<%
  avatar ||= nil
%>

<main class="container container--full-screen wrapper wrapper--small-padding wrapper--padding--both avatars-index__container">
  <div class="avatars-index__head">
    <h1 class="avatars-index__title avatars-index__title--active" data-title-id="1">Bien, à quoi ressemble la forme de ton visage ?</h1>
    <h1 class="avatars-index__title" data-title-id="2">Je vois! Et ta couleur de peau ?</h1>
    <h1 class="avatars-index__title" data-title-id="3">Et tes yeux ?</h1>
    <h1 class="avatars-index__title" data-title-id="4">Pour sourire, il te faut une bouche</h1>
    <h1 class="avatars-index__title" data-title-id="5">Comment sont tes cheveux ?</h1>
    <h1 class="avatars-index__title" data-title-id="6">Un petit accessoire ?</h1>
    <h1 class="avatars-index__title" data-title-id="7">Et enfin, choisi la couleur qui te représentera</h1>
  </div>
  <div class="avatars-index__process">
    <ul class="avatars-index__steps">
      <li class="avatars-index__step avatars-index__step--active" data-id="1">1. ton visage</li>
      <li class="avatars-index__step" data-id="2">2. ta peau</li>
      <li class="avatars-index__step" data-id="3">3. tes yeux</li>
      <li class="avatars-index__step" data-id="4">4. ta bouche</li>
      <li class="avatars-index__step" data-id="5">5. tes cheveux</li>
      <li class="avatars-index__step" data-id="6">6. ton accessoire</li>
      <li class="avatars-index__step" data-id="7">7. ta couleur</li>
    </ul>
  </div>
  <div class="avatars-index__content">
    <div class="avatars-index__properties">
      <%= form_for :avatar, url: avatars_path do |f| %>
        <ul class="avatars-index__list avatars-index__faces avatars-index__list--active" data-property-id="1">
          <% Avatar.faces.keys.each.with_index do |face, n| %>
            <li class="avatars-index__item">
              <%= f.radio_button(:face, face, checked: n.zero?, class: "avatars-index__radio-button") %>
              <%= f.label :face_circle do %>
                 <div class="avatars-index__face avatar__face--<%= face %>"><%= render "avatars/faces/#{face}.svg" %></div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="avatars-index__list avatars-index__skins" data-property-id="2">
          <% Avatar.skin_names.each.with_index do |(skin, skin_name), n| %>
            <li class="avatars-index__item">
              <%= f.radio_button(:skin, skin, checked: n.zero?, class: "avatars-index__radio-button", data: { property: :skin }) %>
              <%= f.label :skin do %>
                <div class="avatars-index__skin-color avatar__skin-color--<%= skin_name %>"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="avatars-index__list avatars-index__eyes" data-property-id="3">
          <% Avatar.eyes_names.each.with_index do |(eye, eye_name), n| %>
            <li class="avatars-index__item">
              <%= f.radio_button(:eyes, eye, checked: n.zero?, class: "avatars-index__radio-button", data: { property: :eyes }) %>
              <%= f.label :eyes do %>
                <div class="avatars-index__eye avatar__eyes--<%= eye_name %>"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="avatars-index__list avatars-index__mouths" data-property-id="4">
          <% Avatar.mouth_names.each.with_index do |(mouth, mouth_name), n| %>
            <li class="avatars-index__item">
              <%= f.radio_button(:mouth, mouth, checked: n.zero?, class: "avatars-index__radio-button", data: { property: :mouth }) %>
              <%= f.label :mouth do %>
                <div class="avatars-index__mouth avatar__mouth--<%= mouth_name %>"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="avatars-index__list avatars-index__haircuts" data-property-id="5">
          <% Avatar.haircut_names.each.with_index do |(haircut, haircut_name), n| %>
            <li class="avatars-index__item">
              <%= f.radio_button(:haircut, haircut, checked: n.zero?, class: "avatars-index__radio-button", data: { property: :haircut }) %>
              <%= f.label :haircut do %>
                <div class="avatars-index__haircut avatar__haircut--<%= haircut_name %>"></div>
                <div class="avatars-index__face avatar__face--circle"><%= render "avatars/faces/circle.svg" %></div>
                <div class="avatars-index__haircut avatar__haircut-bangs avatar__haircut-bangs--<%= haircut_name %>"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="avatars-index__list avatars-index__accessories" data-property-id="6">
          <% Avatar.accessory_names.each.with_index do |(accessory, accessory_name), n| %>
            <li class="avatars-index__item">
              <%= f.radio_button(:accessory, accessory, checked: n.zero?, class: "avatars-index__radio-button", data: { property: :accessory }) %>
              <%= f.label :accessory do %>
                <div class="avatars-index__accessory avatar__accessory--<%= accessory_name %>"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="avatars-index__list avatars-index__sweaters" data-property-id="7">
          <% Avatar.sweater_names.each.with_index do |(sweater, sweater_name), n| %>
            <li class="avatars-index__item">
              <%= f.radio_button(:sweater, sweater, checked: n.zero?, class: "avatars-index__radio-button", data: { property: :sweater }) %>
              <%= f.label :sweater do %>
                <div class="avatars-index__sweater-color avatar__sweater-color--<%= sweater_name %>"></div>
              <% end %>
            </li>
          <% end %>
          <div class="avatars-index__submit">
            <%= f.submit 'J\'ai terminé mon avatar !', class: 'button button--orange button--text--white' %>
          </div>
        </ul>
      <% end %>
    </div>
    <div class="avatars-index__result">
      <div class="avatar avatar--blank" id="avatar">
        <div class="characteristic avatar__haircut avatar__haircut--ball" data-avatar-part="5"></div>
        <div class="characteristic characteristic--active" data-avatar-part="1">
            <div class="characteristic__face characteristic__face--active" data-face="circle">
              <%= render "avatars/faces/circle.svg", avatar: avatar %>
            </div>
            <div class="characteristic__face" data-face="oval">
              <%= render "avatars/faces/oval.svg", avatar: avatar %>
            </div>
            <div class="characteristic__face" data-face="rounded_square">
              <%= render "avatars/faces/rounded_square.svg", avatar: avatar %>
            </div>
            <div class="characteristic__face" data-face="sharp">
              <%= render "avatars/faces/sharp.svg", avatar: avatar %>
            </div>
            <div class="characteristic__face" data-face="square">
              <%= render "avatars/faces/square.svg", avatar: avatar %>
            </div>
            <div class="characteristic__face" data-face="trapezium">
              <%= render "avatars/faces/trapezium.svg", avatar: avatar %>
            </div>
        </div>
        <div class="characteristic avatar__eyes avatar__eyes--almond-shapes" data-avatar-part="3"></div>
        <div class="characteristic avatar__mouth avatar__mouth--big-smile" data-avatar-part="4"></div>
        <div class="characteristic avatar__haircut-bangs avatar__haircut-bangs--" data-avatar-part="5"></div>
        <div class="characteristic avatar__accessory avatar__accessory--earings" data-avatar-part="6"></div>
      </div>

    </div>
  </div>
</main>

<script type="text/javascript">

  (function() {
    var avatar = document.getElementById('avatar')

    var steps = document.querySelectorAll('.avatars-index__step')
    var characteristics = document.querySelectorAll('.avatars-index__radio-button')

    var toggle = function() {
      var step = document.querySelector('.avatars-index__step--active')
      step.classList.remove('avatars-index__step--active')
      this.classList.add('avatars-index__step--active')
      var stepAttr = this.getAttribute('data-id')

      var titles = document.querySelectorAll('.avatars-index__title')
      for (var j = 0; j < titles.length; j++) {
        var titleAttr = titles[j].getAttribute('data-title-id')
        titles[j].classList.remove('avatars-index__title--active')
        if (titleAttr === stepAttr) {
          titles[j].classList.add('avatars-index__title--active')
        }
      }

      var properties = document.querySelectorAll('.avatars-index__list')
      for (var k = 0; k < properties.length; k++) {
        var propertyAttr = properties[k].getAttribute('data-property-id')
        properties[k].classList.remove('avatars-index__list--active')
        if (propertyAttr === stepAttr) {
          properties[k].classList.add('avatars-index__list--active')
        }
      }

      var characteristics = document.querySelectorAll('.characteristic')
      for (var y = 0; y < characteristics.length; y++) {
        var charactAttr = characteristics[y].getAttribute('data-avatar-part')
        if (charactAttr === stepAttr) {
          characteristics[y].classList.add('characteristic--active')
        }
      }

    };

    var select = function () {

      if (this.checked) {

        console.log(this.value);

        var items = document.querySelectorAll('.avatars-index__item')
        for (var z = 0; z < items.length; z++) {
          items[z].classList.remove('avatars-index__item--choice')
        }

        var parents = this.parentNode
        parents.classList.add('avatars-index__item--choice')

        var faceSection = document.querySelector('.avatars-index__faces')
        var haircutSection = document.querySelector('.avatars-index__haircuts')
        if(faceSection.classList.contains('avatars-index__list--active')) {
          var faces = document.querySelectorAll('.characteristic__face')
          for (var y = 0; y < faces.length; y++) {
            faces[y].classList.remove('characteristic__face--active')
            if (this.value === faces[y].getAttribute('data-face')) {
              faces[y].classList.add('characteristic__face--active')
            }
          }
        } else if (haircutSection.classList.contains('avatars-index__list--active')) {
          var particularPropertyHair = 'avatar__haircut-bangs'
          var particularHair = avatar.querySelectorAll('.' + particularPropertyHair)
          if (['big_bun', 'bob', 'cowlick', 'long_straight', 'quiff', 'straight', 'strand'].indexOf(this.value) >= 0) {
            console.log('frange');
            Array.prototype.slice.call(particularHair).forEach(element => {
              element.setAttribute('class', [
                particularPropertyHair,
                particularPropertyHair + '--' + this.value.replace(/_/g, '-')
              ].join(' '))
            })
          } else {
            console.log('pas de frange');
            Array.prototype.slice.call(particularHair).forEach(element => {
              element.setAttribute('class', particularPropertyHair)
            })
          }
          var propertyElementClassName = 'avatar__' + this.getAttribute('data-property')
          Array.prototype.slice.call(avatar.querySelectorAll('.' + propertyElementClassName)).forEach(element => {
            element.setAttribute('class', [
              propertyElementClassName,
              propertyElementClassName + '--' + this.value.replace(/_/g, '-')
            ].join(' '))
          })
        } else {
          var propertyElementClassName = 'avatar__' + this.getAttribute('data-property')
          Array.prototype.slice.call(avatar.querySelectorAll('.' + propertyElementClassName)).forEach(element => {
            element.setAttribute('class', [
              propertyElementClassName,
              propertyElementClassName + '--' + this.value.replace(/_/g, '-')
            ].join(' '))
          })
        }

        loopThroughCharacteristics()
      }

    }

    for(var i = 0; i < steps.length; i++) steps[i].addEventListener('click', toggle)

    var loopThroughCharacteristics = function () {
      for(var a = 0; a < characteristics.length; a++) {
        if (characteristics[a].checked) {
          var parent = characteristics[a].parentNode
          parent.classList.add('avatars-index__item--choice')
          var characteristicValue = characteristics[a].value
        }
        characteristics[a].addEventListener('click', select)
      }
    }

    loopThroughCharacteristics()


  })();



</script>
