<main class="container container--full-screen wrapper wrapper--small-padding wrapper--padding--both chapters-index__container">

  <div class="chapters-index__home">
    <%= image_tag("home_blue.svg", :class => "chapters-index__icon-home") %>
  </div>

  <div class="chapters-index__sections">
    <section class="chapters-index__section chapters-index__draw">
      <div class="dreamy-sketch">
        <div class="emojis">
          <ul class="emojis__list">
            <% Emoji.kinds.keys.each do |kind| %>
              <li class="emojis__item"><%= image_tag("emojis/#{kind}.svg", :class => "emojis__item-icon") %><li>
            <% end %>
          </ul>
        </div>
        <% @chapters.each.with_index do |chapter, n| %>
          <div class="dreamy-sketch__challenge <%= ' dreamy-sketch__challenge--current' if n.zero? %>">
            <span class="dreamy-sketch__challenge-number"><%= chapter.number %></span>
            <h3 class="dreamy-sketch__instruction"><%= chapter.instruction %></h3>
          </div>
        <% end %>
        <div class="dreamy-sketch__strip">
          <%= image_tag("strip.svg", :class => "dreamy-sketch__strip-icon") %>
        </div>
        <canvas class="dreamy-sketch__canvas"></canvas>
        <span class="button button--orange dreamy-sketch__button">Tadaaaa!</span>
      </div>
      <% @chapters.each.with_index do |chapter, n| %>
        <div class="chapters-index__challenge<%= ' chapters-index__challenge--current' if n.zero? %><%= ' chapters-index_no-challenge' if !chapter.instruction %>" data-id="<%= chapter.id %>" data-brush-class="<%= chapter.brush_class %>">
          <span class="chapters-index__challenge-number"><%= chapter.number %></span>
          <h3 class="chapters-index__instruction"><%= chapter.instruction %></h3>
          <span class="button button--orange chapters-index__challenge-button">Je suis prêt</span>
        </div>
      <% end %>
    </section>

    <section class="chapters-index__section chapters-index__section--corner">
      <% @chapters.each.with_index do |chapter, n| %>
        <div class="chapters-index__chapter<%= ' chapters-index__chapter--current' if n.zero? %>" data-id="<%= chapter.id %>">
          <% if chapter.title %>
          <div class="chapters-index__head">
            <div class="chapters-index__book-icon">
              <%= image_tag @book.icon.url, class: 'chapters-index__icon' if @book.icon.exists? %>
            </div>
            <div class="chapters-index__number"><%= chapter.number %></div>
            <h2 class="chapters-index__title"><%= chapter.title %></h2>
          </div>
          <% end %>
          <div class="chapters-index__content">
            <%= simple_format chapter.content %>
          </div>
        </div>
      <% end %>
      <div class="chapters-index__next-chapter"></div>
    </section>
  </div>

  <section class="chapters-index__timeline">
    <div class="timeline">
      <div class="timeline__chapters">
        <% (1..@book.number_of_chapters).each do |i| %>
          <div class="timeline__chapter"></div>
        <% end %>
      </div>
    </div>
  </section>

</main>

<script>
  Application.init();

  var checkChallengePresence = function() {
    var drawSection = document.querySelector('.chapters-index__draw');
    var readSection = document.querySelector('.chapters-index__section--corner')
    var currentChallenge = document.querySelector('.chapters-index__challenge--current');
    if (currentChallenge.classList.contains("chapters-index_no-challenge") == true ) {
      drawSection.classList.add('chapters-index__section--hidden')
      readSection.classList.add('chapters-index__section--full')
    } else {
      drawSection.classList.remove('chapters-index__section--hidden')
      readSection.classList.remove('chapters-index__section--full')
    }
  }

  var nextChapter = function() {

    var challenge = document.querySelector('.chapters-index__challenge--current');
    challenge.classList.remove('chapters-index__challenge--current');

    var instruction = document.querySelector('.dreamy-sketch__challenge--current');
    instruction.classList.remove('dreamy-sketch__challenge--current');

    var chapter = document.querySelector('.chapters-index__chapter--current');
    chapter.classList.remove('chapters-index__chapter--current');

    //var nextChallenge = document.querySelector('.chapters-index__challenge[data-id="' + chapter.getAttribute('data-id') + '"]')
    var nextChallenge = challenge.nextElementSibling;
    if(nextChallenge) {
      nextChallenge.classList.add('chapters-index__challenge--current');
    }

    var nextInstruction = instruction.nextElementSibling;
    if(nextInstruction) {
      nextInstruction.classList.add('dreamy-sketch__challenge--current');
    }

    var nextChapter = chapter.nextElementSibling;
    if(nextChapter) {
      nextChapter.classList.add('chapters-index__chapter--current');
      checkChallengePresence()
    }
    else {
      setTimeout(function() {
        window.location.href = '/books';
      }, 200);
    }



  }

  checkChallengePresence()

  var watch = function(selector, event, callback) {
    var elements = document.querySelectorAll(selector);
    for(var i = 0; i < elements.length; i++) elements[i].addEventListener(event, callback);
  };

  watch('.chapters-index__next-chapter', 'click', function() {
    nextChapter()
  });

  watch('.chapters-index__challenge-button', 'click', function() {
    var chapterInstruction = this.parentNode;

    document.querySelector('.dreamy-sketch__button').classList.remove('dreamy-sketch__button--visible');
    Application.DreamySketch.singleton.brush = new Application.DreamySketch.Brush[chapterInstruction.getAttribute('data-brush-class')]();
    Application.DreamySketch.singleton.canvas.clear();
    document.querySelector('.dreamy-sketch').classList.add('dreamy-sketch--opened');
  });

  watch('.dreamy-sketch__button', 'click', function() {
    document.querySelector('.dreamy-sketch').classList.remove('dreamy-sketch--opened');
    nextChapter()
  });

  Application.DreamySketch.singleton.canvas.element.addEventListener('mousedown', function() {
    setTimeout(function() {
      document.querySelector('.dreamy-sketch__button').classList.add('dreamy-sketch__button--visible');
    }, 1000);
  });

  Application.DreamySketch.singleton.canvas.element.addEventListener('touchstart', function() {
    setTimeout(function() {
      document.querySelector('.dreamy-sketch__button').classList.add('dreamy-sketch__button--visible');
    }, 1000);
  });
</script>
