<%= simple_form_for authentication do |f| %>
  <%= f.input :pseudo %>
  <%= f.input :password %>

  <div class="form__actions form__actions--fill">
    <%= button_link_to 'Inscription', new_user_path, class: :form__action %>
    <%= f.button :submit, 'Connexion', class: :form__action %>
  </div>
<% end %>
